@font-face {
  font-family: "iconfont"; /* Project id 3663676 */
  src: url('iconfont.woff?t=1666872812479') format('woff');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jia:before {
  content: "\e600";
}

.icon-guanbi:before {
  content: "\eaf2";
}

.icon-bianji:before {
  content: "\e64d";
}

.icon-icon:before {
  content: "\e6a0";
}

.icon-sousuo:before {
  content: "\e752";
}

.icon-bianjishuru:before {
  content: "\e8cc";
}

