.header-container {
	width: 100vw;
	height: 42px;
	line-height: 42px;
	position: relative;
	color: aliceblue;
	box-sizing: border-box;
	box-shadow: 0px 8px 10px rgba(150, 150, 151, 0.3);
	background-color: cornflowerblue;
	border-bottom-right-radius: 10px;
}
.header-container .title {
	position: relative;
	left: calc(50% - 45px);
	display: inline-block;
	width: 90px;
	text-align: center;
	transition: all .6s;
}
.header-container .search-icon {
	position: absolute;
	top: 0px;
	right: 20px;
	font-size: 20px;
}


.header-container .cancel {
	font-size: 14px;
}

.search-input {
	position: relative;
	left: 18px;
	box-sizing: border-box;
	color: #333;
	width: 56vw;
	height: 24px;
	outline: none;
	padding-left: 8px;
	border-radius: 8px;
	border: 1px solid powderblue;
	animation: tilt-in-fwd-tr .6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
            transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
            transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
            transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
            transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
